# Used in deployment scripts in /bin
# Copy to .env and source
export SUBSCRIPTION_ID="<uuid>"
export REGION="<centralus>"
export RESOURCE_GROUP="<resource-group-name>"
export WORKSPACE_RESOURCE_GROUP="<works-space-resource-group-name>"
export WORKSPACE_NAME="<job-analytics-workspace-name>"

export VMSS_NAME="<vmss-name>"
export SCHEDULER_VM="logvm"

export VMSS_ID="/subscriptions/${SUBSCRIPTION_ID}/resourceGroups/${RESOURCE_GROUP}/providers/Microsoft.Compute/virtualMachineScaleSets/${VMSS_NAME}"
export VM_ID="/subscriptions/${SUBSCRIPTION_ID}/resourceGroups/${RESOURCE_GROUP}/providers/Microsoft.Compute/virtualMachines/${SCHEDULER_VM}"
