# Used in deployment scripts in /bin
# Copy to .env and source
export RESOURCE_GROUP=resource-group-name
export WORKSPACE_NAME=job-analytics-workspace-name
export SLURMCTLD_TABLE_NAME=slurmctld-table-name_CL
export REGION=centralus
export SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
export VMSS_RG=vmms-resource-group-name
export VMSS_NAME=vmss-name
export VMSS_ID=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vmms-resource-group-name/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-name
export DCR_ID=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/resource-group-name/providers/Microsoft.Insights/dataCollectionRules/dcr-name
export VM_ID=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/resource-group-name/providers/Microsoft.Compute/virtualMachines/vm-name
